body {
  background-color: lightblue;
  border-top: 5%;
}

h1 {
  text-align: center;
  color: #000080;
  border-radius: 5%;
  background-color: gray;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

li {
    text-align: center;
}
